# Build and Release Folders
EHI/.vs
EHI/EHI.Core/bin
EHI/EHI.Core/obj
EHI/EHI.Data/bin
EHI/EHI.Data/obj
EHI/EHI.Services/bin
EHI/EHI.Services/obj
EHI/EHI.WebApi/bin
EHI/EHI.WebApi/obj
EHI/EHI.TestApi/bin
EHI/EHI.TestApi/obj
EHI/packages
EHIApp/node_modules


# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
